@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
    height: 100%;
}
*, 
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: v.$primary-font;
    font-size: 1.6rem;
    font-optical-sizing: auto;
    background-color: v.$light-green;
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.contenedor {
    width: 95%;
    max-width: 73.5rem;
}

h1 {
    margin: 0;
}



